@use '../variables' as *;

.game-card {
  background-color: lighten($primary-color, 10%); 
  padding: $spacing;
  border-radius: 8px;

  h3 {
    margin-top: 0.5rem;
    color: $accent-color;
  }

  .btn {
    display: inline-block;
    background-color: $accent-color;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;

    &:hover {
      opacity: 0.8;
    }
  }
}